@model IEnumerable<CrmSaturdayOsloWeb.Models.ScheduleDTO>

@{
    ViewData["Title"] = "Index";
    var schedules = new Dictionary<string, IEnumerable<CrmSaturdayOsloWeb.Models.ScheduleDTO>>();
    schedules.Add("morning", Model.Where(s => s.Session.Schedule.Value.Hour < 13));
    schedules.Add("afternoon", Model.Where(s => s.Session.Schedule.Value.Hour >= 13));
    var hours = new Dictionary<string, int[]> {
        { "morning", new[] { 10, 11, 12 } },
        { "afternoon", new[] { 14, 15 } }
    };
    var numberOfTracks = 2;
}
<h1><a href="https://twitter.com/hashtag/CRMSaturday" target="_blank">#CRMSaturday</a> Oslo, August 26th. <a href="http://crmsaturday.com/oslo-2017">Official Site</a></h1>
<h2>Schedule</h2>

<div id="schedule">
    @foreach (var schedule in schedules)
    {
        if (schedule.Key == "morning")
        {
            <div id="keynote" class="breakout-session">
                <nav class="timetable-breakout">
                    <span>09:30</span>
                </nav>
                <div class="breakout-description">
                    <span><strong>Keynote, CRM Manifesto - Marius &amp; Razwan</strong></span>
                </div>
            </div>
        }
        else
        {
            <div id="keynote" class="breakout-session">
                <nav class="timetable-breakout">
                    <span>13:00</span>
                </nav>
                <div class="breakout-description">
                    <div>
                        <span><strong>Lunch, 1 hour</strong></span>
                    </div>
                    <div class="lunchDemo">
                        <span>13:15 - Signicat Demo Session (15 min)</span>
                    </div>
                    <div class="lunchDemo">
                        <span>13:30 - Scribe Demo Session (15 min)</span>
                    </div>
                </div>
            </div>
        }

        foreach (var hour in hours[schedule.Key])
        {
            for (int i = 1; i <= numberOfTracks; i++)
            {
                var session = schedule.Value.FirstOrDefault(s => s.Session.Schedule.Value.Hour == hour && s.Session.Track == i);
                if (session != null)
                {
                    <div class="session">
                        <nav class="timetable">
                            <span>Track @i.ToString()</span><br>
                            <span>@(hour.ToString() + ":00")</span><br><br>
                            <a asp-controller="Assessments" asp-action="Create" asp-route-SessionId="@session.Session.SessionId"><span>Rate</span></a>
                        </nav>
                        <div class="speaker-profiles">
                            @foreach (var speaker in session.Speakers)
                            {
                                <div class="profile-picture" style="max-width: @((100 / session.Speakers.Length).ToString())%">
                                    <a asp-controller="Speakers" asp-action="Details" asp-route-id="@speaker.SpeakerId">
                                        @if (speaker.ProfilePicture != null && speaker.ProfilePicture.Length > 0)
                                        {
                                            var base64 = Convert.ToBase64String(speaker.ProfilePicture);
                                            var imgSrc = String.Format("data:image/{0};base64,{1}", speaker.ProfilePictureExtension, base64);
                                            <img src="@imgSrc"><br>
                                        }
                                        <span>@speaker.FirstName @speaker.LastName</span>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="session-description">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span><strong><a asp-controller="Sessions" asp-action="Details" asp-route-id="@session.Session.SessionId">@session.Session.Title</a></strong></span><br>
                            }
                            else
                            {
                                <span><strong>@session.Session.Title</strong></span><br>
                            }
                            <span>@session.Session.Description</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="session">
                        <nav class="timetable">
                            <span>Track @i.ToString()</span><br>
                            <span>@(hour.ToString() + ":00")</span>
                        </nav>
                        <div class="speaker-profiles">
                            <div class="profile-picture">
                                <img src=""><br>
                                <span>Speaker pending</span>
                            </div>
                        </div>
                        <div class="session-description">
                            <span><strong>Session Pending</strong></span><br>
                            <span>Session Pending</span>
                        </div>
                    </div>
                }
            }
        }
    }
    <div id="keynote" class="breakout-session">
        <nav class="timetable-breakout">
            <span>16:00</span>
        </nav>
        <div class="breakout-description">
            <span><strong>Speaker Panel (QA)</strong></span>
        </div>
    </div>
</div>