@model CrmSaturdayOsloWeb.Models.Assessments

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assessments</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AssessmentId" />
        <dt>
            @Html.DisplayNameFor(model => model.Attendee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakerFeedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakerFeedback)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionFeedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionFeedback)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
